body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid rgb(178, 98, 252);
    background-color: rgb(210, 165, 252)
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 3px #888888;
}